html, body, #root{
  width: 100vw;
  height: 100vh;
  background: #F1F3F5;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
  color: black;
  font-size: 13px;
}

#root{
  display: inline-block;
}